/* -----------  Body  ----------- */

body,
html {
  background-color: rgb(132, 138, 148);
}


#signUp {
  color:rgb(132, 138, 148);
  text-decoration: underline;
}
#signUp:hover {
  color:rgb(74, 76, 78)
}


#loginSmText {
  color:rgb(132, 138, 148)
}
#loginSmText:hover {
  color:rgb(74, 76, 78)
}


#dashboardCard {
  background-color: rgb(62, 70, 77);
  border-radius: 20px
}


/* table {
  border-radius: 20px;
  
  
}

thead {
  border: none;

} */


.newTaskLabel {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.ulList {
  border-radius: 10px;
}

.homeCardTitle {
  color: white;
}



#loginCard {
  background-color: rgb(183, 198, 209);
  width: 25em;
  border-radius: 20px
}

#registerCard {
  background-color: rgb(183, 198, 209);
  width: 25em;
  border-radius: 20px
}

#landingCard {
  background-color: rgb(183, 198, 209);
  width: 25em;
  border-radius: 20px
}

/* -----------  Navebar  ----------- */

#navbar {
  border-radius: 20px;
}

#navTabs {
  background-color: gray;
}

#navBrand {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 2em;
  padding-right: 10px;
}




