{% extends "base.html" %}

{% block title %}Boss's Page{% endblock %}


{% block body %}

{% block navbar %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark d-flex">
    <a class="navbar-brand" href="">Task Viewer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainNavbarContent"
        aria-controls="MainNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="MainNavbarContent">

        <ul class="navbar-nav">
            {% if "user" in session %}
            <li class="nav-item ">
                <a class="nav-link " id="homeTab" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link " id="newTaskTab" href="/new_task">New Task <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a class="btn btn-outline-secondary btn-sm ml-auto mt-3 mt-lg-0" role="button" type="button" id="logout"
            href="/logout" aria-disabled="true">Logout</a>
        {% endif %}
    </div>
</nav>
{% endblock %}


{% block content %}

<div class="container mt-4">
    <div id="homeTitleSpan">
        <h1 class="text-center" id="dashboardTitle">Boss Dashboard</h1>
    </div>
    <div class="row mt-3">

        <div class="col-sm-4">
            <div class="card shadow-lg" id="dashboardCard">
                <div class="card-body">
                    <h5 class="card-title text-center homeCardTitle">Tasks Per User</h5>
                    <ul class="list-group list-group-flush ulList">

                        {% for user in user_count %}
                        <li class=" list-group-item d-flex justify-content-between align-items-center">
                            {{ user['assigned_to'] }}<span class="badge badge-light shadow">{{ user['count'] }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow-lg" id="dashboardCard">
                <div class="card-body">
                    <h5 class="card-title text-center homeCardTitle">Unassigned Tasks</h5>
                    <ul class="list-group list-group-flush ulList">

                        {% for count in unassigned_count %}
                        <li class=" list-group-item d-flex justify-content-between align-items-center">
                            Not Assigned<span class="badge badge-light shadow">{{ count['count'] }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow-lg" id="dashboardCard">
                <div class="card-body">
                    <h5 class="card-title text-center homeCardTitle">Priority Queue</h5>
                    <ul class="list-group list-group-flush ulList">

                        {% for count in priority_count %}
                        <li class=" list-group-item d-flex justify-content-between align-items-center">
                            {{ count['priority'] }}<span class="badge badge-light shadow">{{ count['count'] }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">

    <div class="container-fluid mt-0 bg" id="taskListContainer">


        <div class="col-2" id="sideBar"></div>

        <div class="col-8 mx-auto" id="task_list">


            <h3 class="text-center">Assigned Tasks</h3>
            <table class="table table-dark shadow-lg">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task</th>
                        <th scope="col">Status</th>
                        <th scope="col">Description</th>
                        <th scope="col">Assigned To</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_list %}
                    <tr>

                        <th scope="row">
                            <form action="/task" method="POST">
                                <input type="submit" name="taskNum" value="{{ task['task_num'] }}" id="taskNumLink">
                            </form>

                        </th>
                        <td>{{ task['task'] }}</td>
                        <td>{{ task['status'] }}</td>
                        <td>{{ task['description'] }}</td>
                        <td>{{ task['assigned_to'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br>

            <h3 class="text-center">Unassigned Tasks</h3>
            <table class="table table-dark shadow-lg">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task</th>
                        <th scope="col">Status</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in unassigned_task_list %}
                    <tr>
                        <th scope="row">
                            <form action="/task" method="POST">
                                <input type="submit" name="taskNum" value="{{ task['task_num'] }}" id="taskNumLink">
                            </form>

                        </th>
                        <td>{{ task['task'] }}</td>
                        <td>{{ task['status'] }}</td>
                        <td>{{ task['description'] }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            <br>

            <h3 class="text-center">Closed Tasks</h3>
            <table class="table table-dark shadow-lg">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task</th>
                        <th scope="col">Status</th>
                        <th scope="col">Description</th>
                        <th scope="col">Worked By</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in closed_task_list %}
                    <tr>

                        <th scope="row">
                            <form action="/task" method="POST">
                                <input type="submit" name="taskNum" value="{{ task['task_num'] }}" id="taskNumLink">
                            </form>

                        </th>
                        <td>{{ task['task'] }}</td>
                        <td>{{ task['status'] }}</td>
                        <td>{{ task['description'] }}</td>
                        <td>{{ task['assigned_to'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-2" id="sideBar"></div>
    </div>
</div>
{% endblock %}
{% endblock %}